.templatery-wrapper {
    margin: 0 0 1.0em 0;
    background-color: __background_neu__;
    border-bottom:1px dotted __border__;
    border-top:1px dotted __border__;
}
.templatery-wrapper-header {
    font-size: 80%;
    min-height: 1.0em;
}
.templatery-wrapper-label {
    padding-right: 0.2em;
    color: __border__;
    float: right;
}


.templatery-field,
.templatery-include span {
    border-radius: 0.3em;
    padding-left: 0.2em;
    padding-right:0.2em;
    margin-left: 0.05em;
    margin-right: 0.05em;
    color: black;
}
.templatery-field {
    background-color: #ddf;
    border-right: 1px solid __border__;
    border-left: 1px solid __border__;
}
.templatery-field .marker {
    color: #888;
}
.templatery-field .marker.separator {
    margin-left: 0.1em;
    padding-right: 0.1em;
    color: __border__;
}
.templatery-include span {
    background-color: #dfd;
}


.templatery-conditional {
    margin-left: -4px;
    padding-left: 2px;
    border-left: 2px solid #faa;
}
.templatery-conditional .templatery-if {
    font-size: 80%;
    padding-left: 2px;
    margin-left: -2px;
    padding-right: 2px;
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    background-color: #faa;
    color: black;
}


.templatery-error {
    background-image: url(../../images/error.png);
    
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 100%;
    padding-left: 1.5em;
    overflow: hidden;
}
