/**
 * The template wrapper.
 */
.templatery-wrapper {
    margin: 0 -2em 1.4em;
    padding: 0 2em;

    background-color: __background_alt__;
    border-bottom:1px dotted __border__;
    border-top:1px dotted __border__;
    box-shadow: 0 0.5em 0.5em -0.5em __border__ inset, 0 -0.5em 0.5em -0.5em __border__ inset;

    clear: both;
}

/** Template name header */
.templatery-wrapper-header {
    font-size: 80%;
    text-align: center;

    background-color: __background_neu__;

    border-bottom-left-radius: 5em;
    border-bottom-right-radius: 5em;

    margin-bottom: 0.5em;
}

/** Template name */
.templatery-wrapper-header .templatery-wrapper-label {
    color: __text_neu__;
    text-shadow: 0 1px 0 __background__;
}


/**
 * Substitution field and template inclusion.
 */
.templatery-field,
.templatery-include {
    color: __text__;

    border-radius: 10em;
    padding-left: 0.5em;
    padding-right:0.5em;
    margin-left: 0.05em;
    margin-right: 0.05em;

    background-color: #ccf;
    box-shadow: 0 0 0.25em #888 inset;
}

/** Subsitution field */
.templatery-field {
}

/** Seperator */
.templatery-field .value-separator {
}

/** Template inclusion */
.templatery-include {
}


/**
 * Conditionals.
 */

/** Block conditional */
div.templatery-conditional {
    margin-left: -4px;
    padding-left: 2px;
    border-left: 2px solid #faa;
}
div.templatery-conditional .templatery-condition {
    font-size: 80%;
    padding-left: 2px;
    margin-left: -2px;
    padding-right: 2px;
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    background-color: #faa;
    color: black;
}

/** Inline conditional */
span.templatery-conditional {
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 2px;
    border-right: 2px solid #faa;
    border-left: 2px solid #faa;
    border-radius: 0.2em;
}
span.templatery-conditional .templatery-condition {
    font-size: 80%;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 2px;
    margin-left: 0px;
    border-radius: 0.2em;
    background-color: #faa;
    color: black;
}


/**
 * Inline Error display.
 */
.templatery-error {
    background-image: url(../../images/error.png);
    
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 100%;
    padding-left: 1.5em;
    overflow: hidden;
}
